@use 'scss/abstracts/variables' as *;
@use 'scss/abstracts/maps' as *;
@use 'scss/abstracts/mixins' as *;
@use 'scss/abstracts/extend' as *;

// Base
@use 'scss/base/reset';
@use 'scss/base/typography';
@use 'scss/base/globals';
@use 'scss/base/utilities';
@use 'scss/base/textos';


// Layout
@use 'scss/layout/header';
@use 'scss/layout/footer';
@use 'scss/layout/grid';


// Components
@use 'scss/components/banner';
@use 'scss/components/card';
@use 'scss/components/button';
@use 'scss/components/form';
@use 'scss/components/overlay';
@use 'scss/components/accordion';



// Pages
@use 'scss/pages/home';
@use 'scss/pages/productos';
@use 'scss/pages/nosotros';
@use 'scss/pages/contacto';
@use 'scss/pages/ayuda';
@use 'scss/pages/asesoria';

// Media Queries
@use 'scss/media-queries/home' as homeMQ;
@use 'scss/media-queries/productos' as productosMQ;
@use 'scss/media-queries/nosotros' as nosotrosMQ;
@use 'scss/media-queries/contacto' as contactoMQ;
@use 'scss/media-queries/ayuda' as ayudaMQ;
@use 'scss/media-queries/asesoria' as asesoriaMQ;

// Vendors
@use 'scss/vendors/bootstrap';