@use '../abstracts/variables' as *;
// Página de inicio (index.html)

.mensaje-de-bienvenida {
background-color: $color-fondo;
border-top: 2px solid $color-acento;
border-bottom: 2px solid $color-acento;
padding: $espaciado-lg 0;
text-align: center;

h2 {
    font-size: $font-lg;
    letter-spacing: 1px;
    color: $color-principal;
    margin-bottom: $espaciado-md;
}

p {
    font-size: $font-md;
    max-width: 700px;
    margin: 0 auto;
    color: $color-texto-secundario;
}
}