@use '../abstracts/variables' as *;
@use '../abstracts/extend' as *;

// Página de equipo (nosotros.html)

.imagenes-equipo {
display: flex;
justify-content: center;
gap: $espaciado-lg;
flex-wrap: wrap;

img {
    max-width: 400px;
    height: 400px;
    border-radius: $radio-sm;
    @extend %grayscale;
    @extend %sombra-suave;
    transition: transform 0.3s ease; // transición suave

    &:hover {
      transform: scale(1.03); // mismo efecto que las cards
    }
}
}

.bloque-equipo {
text-align: center;
padding: $espaciado-md;

h3 {
    font-size: $font-lg;
    color: $color-principal;
    margin-bottom: $espaciado-sm;
}

p {
    font-size: $font-md;
    color: $color-texto-secundario;
    font-style: italic;
}
}