@use '../abstracts/variables' as *;

.menu-navegacion {
  background-color: $color-principal;
  padding: $espaciado-sm $espaciado-lg;
  font-size: $font-md;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  &.shrink{
    padding: $espaciado-xs $espaciado-md;
    font-size: $font-sm;
  }

  .nav-link {

    color: $color-fondo;
    margin: 0 $espaciado-sm;

    &:hover {
    color: $color-acento;
    }

    &.active {
    color: $color-acento;
    }

    // Íconos de lupa y carrito
    i.bi-search,
    i.bi-cart {
    font-size: 1.2rem; // tamaño base
    }
  }

  // Badge del carrito
  #contadorCarrito {
    position: absolute;
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
    top: 0;
    right: 0;
  }

  // Responsive ajustes
  @media (max-width: 992px) {
    .nav-link i.bi-search,
    .nav-link i.bi-cart {
    font-size: 1.25rem; // íconos más grandes en tablet
    }

    #contadorCarrito {
    font-size: 0.7rem;
    top: 0.25rem;
    right: 0.25rem;
    }
  }

  @media (max-width: 576px) {
    // Ajuste de altura del header en mobile
    padding: $espaciado-xs $espaciado-sm; // menos padding
    font-size: $font-sm; // texto más chico

    .nav-link {
    margin: 0 $espaciado-xs;
    font-size: $font-sm;
    }

    .nav-link i.bi-search,
    .nav-link i.bi-cart {
    font-size: 1.2rem;
    }

    #contadorCarrito {
    font-size: 0.65rem;
    padding: 0.15rem 0.35rem;
    top: 0;
    right: 0;
    }
  }
}



