@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;



.banner {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 0;

  .carousel-item img {
    width: 100%;
    height: auto;
    min-height: 40vh;
    object-fit: cover;
  }

  .carousel-caption {
    color: $color-fondo;
    text-align: center;
    background-color: $color-overlay;
    padding: $espaciado-md;
    border-radius: $radio-lg;
    opacity: 0; // oculto por defecto en desktop
    transition: opacity 0.4s ease-in-out;

    h2 { font-size: $font-lg; }
    p { font-size: $font-md; }
  }

  // Hover en desktop
  &:hover .carousel-caption.visible {
    opacity: 1;
  }


  // Ajustes responsive
@media (max-width:576px){
.carousel-item img{
  width: 100%;
  height: 100%;
object-fit: cover;
}
.carousel-caption{
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-size: $font-sm;
  padding: $espaciado-sm;
}
.carousel-caption h2{
  font-size: $font-md;
}
.carousel-caption p{
  font-size: $font-sm;
}
.carousel-caption.visible{
  opacity: 1;
}
}
}