@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;



.banner {
  text-align: center;
  position: relative;
  overflow: hidden;
z-index: 1;

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .carousel-caption {
    color: $color-fondo;
    text-align: center;
    background-color: $color-overlay;
    padding: $espaciado-md;
    border-radius: $radio-lg;
    opacity: 0; // oculto por defecto en desktop
    transition: opacity 0.4s ease-in-out;

    h2 { font-size: $font-lg; }
    p { font-size: $font-md; }  
  }

  // Hover en desktop
  &:hover .carousel-caption {
    opacity: 1;
  }

  // Ajustes responsive
  @media (max-width: 576px) {
    .carousel-item img {
    height: 250px; // altura fija en mobile
    object-fit: cover; // asegura que no se corte raro
    }

    .carousel-caption {
    opacity: 0; 
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    font-size: $font-sm;
    padding: $espaciado-sm;
    }

    .carousel-caption h2 {
    font-size: $font-md;
    }

    .carousel-caption p {
    font-size: $font-sm;
    }
    .carousel-caption.visible{
    opacity: 1;
    }
  }
}